/* page header formatting */
.main-header .title {
    font-size: 4.5em;
}

/* box formatting */
.box-content-text {
    padding: 1.5em 0em 1.5em 0em;
}
.box-header {
    padding: 20px 0 0 20px;
    /*padding: 1.5em 0em 1.5em 0em;*/
}


